if HAS_SONICLIB

menuconfig SONICLIB_DEBUG
    bool "SonicLib debug"
    default 0

menuconfig SONICLIB_NUM_I2C_BUSES
	int "No. of I2C buses"
	default 1

menuconfig SONICLIB_NUM_SENSORS
	int "Max number of sensor devices"
	default 2

choice SONICLIB_FW
	prompt "Firmware"
	default SONICLIB_FW_CH201_GPRSTR_FW

if CH101

config SONICLIB_FW_CH101_FLOOR_FW
	bool "FLOOR"

config SONICLIB_FW_CH101_GPR_RXOPT_NARROW_WD_FW
	bool "GPR_RXOPT_NARROW_WD"

config SONICLIB_FW_CH101_GPR_RXOPT_WD
	bool "GPR_RXOPT_WD"

config SONICLIB_FW_CH101_GPR_RXOPT_WD
	bool "GPR_RXOPT_WD"

config SONICLIB_FW_CH101_LIQUID_FW
	bool "LIQUID_FW"

config SONICLIB_FW_CH101_GPR_OPEN_FW
	bool "GPR_OPEN"

config SONICLIB_FW_CH101_GPR_NARROW_WD_FW
	bool "GPR_NARROW_WD"

config SONICLIB_FW_CH101_SONICSYNC_MASTER_FW
	bool "SONICSYNC_MASTER"

config SONICLIB_FW_CH101_GPR_SR_OPEN_FW
	bool "GPR_SR_OPEN"

config SONICLIB_FW_CH101_GPR_RXOPT_FW
	bool "GPR_RXOPT"

config SONICLIB_FW_CH101_FINALTEST_FW
	bool "FINALTEST"

config SONICLIB_FW_CH101_GPR_LOWPWR_FW
	bool "GPR_LOWPWR"

config SONICLIB_FW_CH101_GPR_FW
	bool "GPR"

config SONICLIB_FW_CH101_GPR_SR_WD_FW
	bool "GPR_SR_WD"

config SONICLIB_FW_CH101_GPR_WD_FW
	bool "GPR_WD"

config SONICLIB_FW_CH101_SONICSYNC_SLAVE_FW
	bool "SONICSYNC_SLAVE"

config SONICLIB_FW_CH101_GPR_RXOPT_NARROW_FW
	bool "GPR_RXOPT_NARROW_FW"

config SONICLIB_FW_CH101_GPR_SR_NARROW_FW
	bool "GPR_SR_NARROW"

config SONICLIB_FW_CH101_GPR_SR_FW
	bool "GPR_SR"

config SONICLIB_FW_CH101_GPR_NARROW_FW
	bool "GPR_NARROW"

config SONICLIB_FW_CH101_GPR_SR_NARROW_WD_FW
	bool "GPR_SR_NARROW_WD"

config SONICLIB_FW_CH101_GPPC_FW
	bool "GPPC"

endif # CH101

if CH201

config SONICLIB_FW_CH201_GPRSTR_FW
	bool "GPRSTR"

config SONICLIB_FW_CH201_GPRSTR_WD_FW
	bool "GPRSTR_WD"

config SONICLIB_FW_CH201_GPRMT_WD_FW
	bool "GPRMT_WD"

config SONICLIB_FW_CH201_GPRMT_FW
	bool "GPRMT"

config SONICLIB_FW_CH201_PRESENCE_FW
	bool "PRESENCE"

config SONICLIB_FW_CH201_FINALTEST_FW
	bool "FINALTEST"

endif # CH201

endchoice

endif # HAS_SONICLIB
